.wrapper {
    margin: auto;
    text-align: center;
}

p {
    font-family:'Fjalla One',sans-serif;
    font-size: 16px;
}

img {
    background-color:lightblue;
    border-radius: 10px;
    margin-top:15px;
}

.hidden2 {
    position: fixed;
    text-align:center;
    font-size: 96px;
    width:660px;
    border-radius:30px;
    background:#e5989b;
    padding:60px 20px;
    height: 354px;
    margin-top: 227px;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    font-family:'Lobster',sans-serif;
    display:none;
  }

h1 {
    font-family:'Lobster',sans-serif;
    font-size: 46px;
}

.description {
    font-size: 18px;
    text-align: center;
}

label {
    font-family:'Fjalla One',sans-serif;
    font-size: 24px;
    margin-right:10px;
}

.state {
    height:42px;
    margin:auto;
    margin-top:12px;
}

input {
    width: 200px;
    margin-bottom: 10px;
    height:40px;
    font-size:24px;
    font-family:'Fjalla One',sans-serif;
    border-radius: 10px;;
}

select {
    font-size:24px;
    font-family:'Fjalla One',sans-serif;
    width: 300px;
    height:40px;
    border-radius: 10px;;
}

section {
    margin-top: 30px;
}

form {
    display:flex;
    flex-direction: column;
}

h2 {
    font-family:'Fjalla One',sans-serif;
    text-align: center;
    font-size: 30px;
}

.results {
    margin:auto;
}

li {
    text-align: center;
    margin:15px 0;
    margin-right:38px;
}

li div {
    width:300px;
    background:#ffffff;
    border-radius: 30px;
    margin:auto;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 24px;
    font-family:'Fjalla One',sans-serif;
    outline:none;
    background:#FFB5A7;
    /*background:#fec89a;*/
    border-radius: 10px;
    border:none;
}

button.search {
    width:80px;
    height:40px;
    margin: auto;
    margin-top:20px;
    border-radius: 10px;
    background:#F8EDEB;
  }

body {
    background:#FFB5A7;
}
.weather {
    list-style:none;
    border-radius: 30px;
    background:#ffffff;
    margin-top: 15px;
}

button.event {
    margin-bottom: 10px;
    width:140px;
}

button.wHide {
    margin-bottom: 10px;
    width:70px;
    height:50px;
}

.hidden {
    display: none;
}

select {
    width:200px;
    margin: auto;
    height:42px;
}

@media all and (min-width: 1000px) {

    .hidden2 {
        display:block;
    }

    input {
        width: 500px;

    }

    h1 {
        font-size: 86px;
    }

    .description {
        font-size:24px;
    }

    .results {
        width:50%;
    }

    p {
        font-size: 22px;
    }

    li div {
        width:500px;
    }

    .container {
        flex-direction: row;
    }

    .weather {
        margin-left: 15px;
        margin-top: 0px;
    }

    button.wHide {
        height:30px;
        width:80;
        padding-top:5px;
    }

    button.search {
        width:100px;
    }
}
